test
backend/token.json
backend/.env
# Logs
logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env/
client_secret_420192572773-igkcgfbj8i3f4audaolfebnoaj0fiaqe.apps.googleusercontent.com.json

#hide the tokens and keys also